body {
    background-color: rgb(185, 186, 178);
    font-family: 'Patrick Hand SC', cursive;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
}

.wireframe {
    margin-top: 50px;
    margin-left: 100px;
    width: 1024px;
    height: 600px;
}

#canvas {
    background-color: white;
    border-radius: 10px;
    margin: 0;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, rgb(234, 236, 239) 0.5px, transparent 1px), linear-gradient(to bottom, rgb(234, 236, 239) 0.5px, transparent 1px);
}

.row {
    display: flex;
    flex-direction: row;
}

.footer-elem {
    margin-top: 10px;
    margin-left: 20px;
}


.img {
    height: 30px;
    width: 30px;
    right: 20px;
}

.settings-layover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    transform: translateX(100%);
}

.settings {
    height: 1000px;
    width: 300px;
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    background-color: black;
    transform: translateX(100%);
    color: white;

}

.view-settings {
    display: flex;
    flex-direction: column;
}

.close-button {
    height: 30px;
    width: 30px;
}

.visible {
    transform: translateX(0);
}

#grid-size {
}

.context-menu {
    max-width: 200px;
    max-height: 300px;
    background-color: white;
    position: absolute;
    border: solid black 1px;
}

.copy:hover, .paste:hover, .cut:hover, .send-very-front:hover, .send-very-back:hover, .send-front:hover, .send-back:hover, .group:hover {
    background-color: #6db6f9;
}

.div-save {
    max-width: 500px;
    margin-right: 0;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.highlight {
    color: red;
}

.canvas-saved {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    opacity: 0;
    flex-direction: row;
    animation-name: appear;
    animation-duration: 10s;
}

.hidden {
    display: none;
}
