body {
    background-color: rgb(185, 186, 178);
    font-family: 'Patrick Hand SC', cursive;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
}

.wireframe {
    margin-top: 50px;
    margin-left: 100px;
    width: 1024px;
    height: 600px;
}

.browser-overlay {
    margin-top: -30px;
}

.laptop {
    height: 30px;
    width: 1024px;
    background-color: grey;
    position: absolute;
    z-index: 10;
    margin-left: 100px;
    /*margin-top: 20px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.phone-top {
    height: 50px;
    margin-top: -20px;
    margin-left: 87.5px;
    width: 401px;
    background-color: black;
    position: absolute;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.phone-right {
    height: 667px;
    width: 12.5px;
    margin-top: 30px;
    margin-left: 476px;
    z-index: 10;
    background-color: black;
    position: absolute;
}

.phone-left {
    height: 667px;
    width: 12.5px;
    margin-top: 30px;
    margin-left: 87.5px;
    z-index: 10;
    background-color: black;
    position: absolute;
}

.phone-bottom {
    height: 70px;
    margin-top: 697px;
    margin-left: 87.5px;
    width: 401px;
    background-color: black;
    position: absolute;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tablet-top {
    height: 50px;
    margin-top: -20px;
    margin-left: 87.5px;
    width: 629px;
    background-color: black;
    position: absolute;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    margin-top: 7.5px;
    display: flex;
    flex-direction: row;
}

.button {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: white;
    margin-left: 5px;
}

.browser-bar {
    height: 15px;
    width: 500px;
    border-radius: 3px;
    background-color: white;
    margin-left: 30px;
}

#canvas {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, rgb(234, 236, 239) 0.5px, transparent 1px), linear-gradient(to bottom, rgb(234, 236, 239) 0.5px, transparent 1px);
}

.row {
    display: flex;
    flex-direction: row;
}

.footer-elem {
    margin-top: 40px;
    margin-left: 20px;
}


.img {
    height: 30px;
    width: 30px;
    /*right: 20px;*/
}

.settings-layover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    transform: translateX(100%);
}

.settings {
    height: 1000px;
    width: 300px;
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    background-color: black;
    transform: translateX(100%);
    color: white;

}

.view-settings {
    display: flex;
    flex-direction: column;
}

.close-button {
    height: 30px;
    width: 30px;
}

#colorpicker {
    position: relative;
}

.visible {
    transform: translateX(0);
}

#grid-size {
}

.context-menu {
    max-width: 200px;
    max-height: 300px;
    background-color: white;
    position: absolute;
    border: solid black 1px;
}

.copy:hover, .paste:hover, .cut:hover, .send-very-front:hover, .send-very-back:hover, .send-front:hover, .send-back:hover, .group:hover, .ungroup:hover, .change-color:hover {
    background-color: #6db6f9;
}

.div-save {
    max-width: 500px;
    margin-right: 0;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.highlight {
    color: red;
}

.canvas-saved {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    opacity: 0;
    flex-direction: row;
    animation-name: appear;
    animation-duration: 10s;
}

.hidden {
    display: none;
}

.adding-new-element {
    max-width: 300px;
    max-height: 50px;
    background-color: red;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.cookie-overlay-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    position: absolute;
    z-index: 350;
    color: black;
    left: 0;
    top: 0;
}

.cookie-box {
    left: 200px;
    top: 200px;
    position: absolute;
    height: 300px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    z-index: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
